body {
    background-color: lightgrey;
    margin: 0
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#data_evento{
    position: relative;
    color: white;
    margin: 0 auto;
    background-color: rgb(222, 128, 78);
    padding: 30px ;

    
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 30px;
}

#container > p {
    color: rgb(222, 128, 78);
}

#icon {
    width: 30px;
}