<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixiricas's Store</title>
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../script/cadastro.js"></script>
</head>
<body>
    <h3>Bem-vindo ao cadastro de usuário</h3>

    <a href="../index.html">Voltar para a página inicial</a>

    <form>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password">
        <br>
        <label for="cpf_cnpj">CPF/CNPJ:</label>
        <input type="text" name="cpf_cnpj" id="cpf_cnpj">
        <br>
        <label for="birthday">Data de Nascimento:</label>
        <input type="date" name="birthday" id="birthday">
        <br>
        <label for="terms">Termo</label>
        <input type="checkbox" name="terms" id="terms">
        <br>
        <input type="button" value="Cadastre-se" onclick="cadastro()">
    </form>
</body>
</html>