<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVIDENCE ©</title>
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../script/cadastro.js"></script>
</head>
<body>

    <header>
        <div id="container">
            <a href="../index.html"><img id="logo-header" src="../img/EVIDENCE com ® branco.png" alt="Logo Evidence"></a>
        </div>
    </header>

    <main>
        <div class="bloco-cadastro">
            <div class="form-container">
                <h3>BEM-VINDO AO CADASTRO DE USUÁRIO</h3>
        
                <form>
                    <div class="form-div">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" id="name" placeholder="Nome">
                    </div>
        
                    <div class="form-div">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
        
                    <div class="form-div">
                        <label for="password">Senha:</label>
                        <input type="password" name="password" id="password" placeholder="Senha">
                    </div>
        
                    <div class="form-div">
                        <label for="cpf_cnpj">CPF/CNPJ:</label>
                        <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF/CNPJ">
                    </div>
        
                    <div class="form-div">
                        <label for="birthday">Data de Nascimento:</label>
                        <input type="date" name="birthday" id="birthday">
                    </div>
        
                    <div class="form-div terms-div">
                        <label for="terms">Termo</label>
                        <input type="checkbox" name="terms" id="terms">
                    </div>
        
                    <div class="form-div">
                        <input type="button" value="Cadastre-se" onclick="cadastro()">
                    </div>
                </form>

                <div class="link-form">
                    <a href="login.html">Já tem cadastro? <u>FAÇA LOGIN!</u></a>
                </div>
            </div>
            <div class="image-section">
                <img src="../img/Frame 2.png" alt="">
            </div>
        </div>
    </main>

    <footer>
        <div id="container-footer">
            <div id="link-div">
                <a class="link-footer" href="">Terms</a>
                <a class="link-footer" href="">About</a>
                <a class="link-footer" href="">Privacy</a>
                <a class="link-footer" href="">Contact</a>
            </div>
            <a href="../index.html"><img id="logo-footer" src="../img/EVIDENCE com ® branco.png" alt="Logo Evidence"></a>
            <p>© 2024. All Right Reserved.</p>
        </div>
    </footer>

</body>
</html>
