<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVIDENCE ©</title>
    <link rel="stylesheet" href="../css/home.css">
    <script src="../script/home.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="bi bi-list"></i>
            <a href="../view/home.html"><img id="logo-menu" src="../img/EVIDENCE com ® branco.png" alt=""></a>
        </div>
        <ul>
            <li class="item-menu">
                <a href="../view/home.html">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../view/endereco.html">
                    <span class="icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="txt-link">Endereço</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="bloco-pesquisar">
            <i class="bi bi-search"></i>
            <input type="text" class="pesquisar" placeholder="Pesquisar eventos">
        </div>
        
        <h1 id="nome">Seja Bem-vindo!</h1>
        
        <img id="banner" src="../img/Banner mochakk.png" alt="">

        <div class="bloco-principal">

            <div class="titulo">
                <h2>Seus Eventos</h2>
            </div>

            <div class="bloco-evento">
                <img class="imagem-evento" src="../img/mochakk.jpg" alt="" >
                <div class="detalhes-evento">
                    <h3>Mochakk in Evindence</h3>
                    <p>Allianz Parque - São Paulo</p>
                    <p>26 de Jan 2025, às 18 horas</p>
                </div>
            </div>

        </div>

        <div>
            <div class="titulo">
                <h2>Seus Endereços</h2>
            </div>

            <div>
                <table id="lista_enderecos">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>CEP</th>
                            <th>Endereco</th>
                            <th>Numero</th>
                        </tr>
                    </thead>
                    <tbody id="enderecos_listados">

                    </tbody>                    
                </table>
            </div>

        </div>

    </main>

    <footer>
        <div id="container-footer">
            <div id="link-div">
                <a class="link-footer" href="">Terms</a>
                <a class="link-footer" href="">About</a>
                <a class="link-footer" href="">Privacy</a>
                <a class="link-footer" href="">Contact</a>
            </div>
            <a href="../index.html"><img id="logo-footer" src="../img/EVIDENCE com ® branco.png" alt="Logo Evidence"></a>
            <p>© 2024. All Right Reserved.</p>
        </div>
    </footer>
</body>

</html>