<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVIDENCE ©</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../script/login.js"></script>
</head>
<body>
    <main>
        <h4>Login</h4>

        <form>
            <div>
                <label for="email">Email ou CPF/CNPJ</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="pass">Senha</label>
                <input type="password" name="pass" id="password">
            </div>

            <input type="button" value="Login" onclick="login()">
            <a href="../index.html">Voltar para a página inicial</a>
            <a href="endereco.html">Ver meus endereços</a>

            <a href="cadastro.html">Não tem cadastro? Clique aqui!</a>
        </form>
    </main>
</body>
</html>